[Desktop Entry]
Version=1.0
Name=PasswordSafe
Exec=passwordSafe
Icon=1password
Terminal=False
Type=Application
Category=Applictaion;
StartupWMClass=passwordSafe
